html {
    text-size-adjust: 100%;
}
.text {
    text-align: center;
    margin-top: 2em;
    margin-left: 15em;
    margin-right: 15em;
}
.label {
    border: 1px solid #000;
    width: fit-content;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}
#aps {
    font-size: smaller;
    text-align: left;
    justify-content: left;
    font-weight: 400;
}
#cal {
    font-weight: 400;
}

.title{
    font-weight: 700;
    border-bottom: 0.45em solid #000;
    padding-bottom: 5px;
}
.left {
    text-align: left;
    justify-content: left;
    border-top: 1px solid #000;
}
.right {
    text-align: right;
    justify-content: right;
    border-top: 1px solid #000;
}

#hide {
    border-top: 0.5em solid #000;
    font-size: smaller;
    visibility: hidden;
}
#hide2 {
    font-size: 0.8em;
    visibility: hidden !important;
}
#dv {
    border-top: 0.5em solid #000;
    font-size: smaller;
}
.nutrient {
    font-weight: 750 !important;
}
#botbreak {
    border-bottom: 0.8em solid #000;
}
#dvex {
    border-top: 1px solid #000;
    max-width: fit-content;
    justify-content: left;
    text-align: left;
    font-size: 0.8em;
    margin: 0;
}

#dvex2 {
    border-top: 1px solid #000;
    text-align: left;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
#dvex3 {
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    margin: 0;
}
#average {
    width: 100%;
}
#topline {
    
    border-top: 1px solid #000;
}
.recval {
    justify-content: left;
    text-align: left;
    font-size: 0.8em;
}
