{% extends "layout.html" %}

{% set active_page = "calculator" %}

{% block title%}Nutrition Calculator{% endblock %}

{% block content %}
<div class="text">
  <h1>Calculator</h1>
</div>
<div class="form">
  <form action="/formcalc" id ="formID">
    <fieldset>
      <div id="append">
        <label for="ingredient">Select an Ingredient:</label>
        <label for="amount">&emsp;&emsp;&ensp;Select amount in Serving Size:</label><br>
        <input class="ingredient" list="food" name="ingredient0" onfocus="this.value=''">
        <input type="number" step=".01" min=0 class="amount" name="amount" onfocus="this.value=''"><br>
      </div>
      <input for="ingredient" type="submit" value="Calculate">
      <datalist id="food">
        {{ ingredients }}
      </datalist>  
    </fieldset>
  </form>
  <div id="buttons">
    <button onclick="add" id="add">Add Ingredient</button>
    <button type="button" id="remove">Remove Ingredient</button>
  </div>
</div>
{% endblock %}