{% extends "layout.html" %}

{% set active_page = "calculator" %}

{% block title%}Nutrition Calculator{% endblock %}

{% block content %}
<div class="text">
  <h1>Calculator</h1>
</div>
<div class="form">
  <form action="/form" i ="formID">
    <fieldset>
      <label for="ingredient">Select an Ingredient:</label>
      <label for="amount">&emsp;&emsp;&ensp;Select amount in Serving Size:</label><br>
      <input class="ingredient" list="food" name="ingredient">
      <input class="amount" name="amount">
      <datalist id="food">
        {{ ingredients }}
      </datalist>  
      <div class="append"></div>
    </fieldset>
    <button type="button" id="add">Add Ingredient</button><br>
    <button type="button" id="remove">Remove Ingredient</button>
  </form>
</div>
{% endblock %}