{% extends "layout.html" %}

{% set active_page = "lib" %}

{% block title%} Food Library {% endblock %}

{% block content %}
<div class="text">
  <h1>Search for an ingredient to see it's nutritional value</h1>
</div>
<div class="form">
  <form action="/form" id ="formID">
    <fieldset>
      <label for="ingredient">Select an Ingredient:</label><br>
      <input type="text" list="food" name="ingredient" onfocus="this.value=''">
      <datalist id="food">
        {{ ingredients }}
      </datalist>
      <input type="submit" value="Search">
    </fieldset>
  </form>
</div>
{% endblock %}