{% extends "layout.html" %}

{% set active_page = "lib" %}

{% block title%} Food Library {% endblock %}

{% block content %}
<div class="text">
  <h1>Search for an ingredient to see it's nutritional value</h1>
</div>
<div class="facts">
  <h3 class="label">Nutritional Facts</h3>
  <table>
    <thead>
      <tr>
        <th id="hide">Nutrients</th>
        <th id="dv">% Daily Value*</th>
      </tr>
      <div class="fat">
        <tr>
          <td class="left"><span class="nutrient">Total Fat</span> 14g</td>
          <td class="right" class="daily">22%</td>
          <div class="satfat">
            <tr>
              <td class="left">Saturated Fats</span> 9g</td>
              <td class="right" class="daily">22%</td>
            </tr>
          </div>
          <tr>
            <td class="left" id="trans">Trans Fats</span> 0g</td>
            <td class="right" id="trans"class="daily">0%</td>
          </tr>
        </tr>
      </div>
      <div class="cholesterol">
        <tr>
          <td class="left"><span class="nutrient">Cholesterol</span> 55mg</td>
          <td class="right" class="daily">18%</td>
        </tr>
      </div>
      <div class="sodium">
        <tr>
          <td class="left"><span class="nutrient">Sodium</span> 40mg</td>
          <td class="right" class="daily">2%</td>
        </tr>
      </div>
      <div class="carbs">
        <tr>
          <td class="left"><span class="nutrient">Total Carbohydrate</span> 17g</td>
          <td class="right" class="daily">6%</td>
          <div class="fiber">
            <tr>
              <td class="left">Dietary Fiber 1g</td>
              <td class="right" class="daily">4%</td>
            </tr>
          </div>
          <div class="sugar">
            <tr>
              <td class="left">sugars 14g</td>
              <td class="right" class="daily">0%</td>
            </tr>
          </div>
        </tr>
      </div>
      <div class="protein">
        <tr>
          <td class="left"><span class="nutrient">Protein 3g</span></td>
          <td class="right" class="daily">0%</td>
        </tr>
      </div>
    </thead>
  </table>   
</div><br>
{% endblock %}